<section class="section hero">
    <div class="container hero__container">
        <div class="hero__sidebar sidebar-menu">
            <div class="sidebar-menu__head">Все категории</div>
            <div class="sidebar-menu__body">
                <ul class="sub-menu">
                    <li class="menu-item">
                        <div class="menu-item__inner">
                            <a href="/">Датчики точки росы</a>
                            <div class="menu-icon"></div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="menu-item__inner">
                            <a href="/">Фильтры и фильтроэлементы</a>
                            <div class="menu-icon"></div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="menu-item__inner">
                            <a href="/">Электроника и Эллектроснабжение</a>
                            <div class="menu-icon"></div>
                        </div>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <div class="menu-item__inner">
                                    <a href="/">Контроллеры</a>
                                    <div class="menu-icon"></div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-item__inner">
                                    <a href="/">Стабилизаторы напряжения</a>
                                    <div class="menu-icon"></div>
                                </div>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <div class="menu-item__inner">
                                            <a href="/">ЭНЕРГИЯ</a>
                                            <div class="menu-icon"></div>
                                        </div>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <div class="menu-item__inner">
                                                    <a href="/">ЭНЕРГИЯ</a>
                                                    <div class="menu-icon"></div>
                                                </div>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <div class="menu-item__inner">
                                                            <a href="/">ЭНЕРГИЯ</a>
                                                            <div class="menu-icon"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="menu-item__inner">
                            <a href="/">Заточка инструмента</a>
                            <div class="menu-icon"></div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="menu-item__inner">
                            <a href="/">Станки и оборудование</a>
                            <div class="menu-icon"></div>
                        </div>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <div class="menu-item__inner">
                                    <a href="/">Сверлильные станки</a>
                                    <div class="menu-icon"></div>
                                </div>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/">Настольные сверлильные станки</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/">Напольные сверлильные станки</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/">Радиально сверлильные станки</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/">Сверлильные станки на магнитном основании </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Токарные станки
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Напольные токарные станки </a></li>
                                    <li class="menu-item"><a href="/">Настольный токарные станки </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Фрезерные станки</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Настольные фрезерные станки </a></li>
                                    <li class="menu-item"><a href="/">Настольные фрезерные станки с ЧПУ </a></li>
                                    <li class="menu-item"><a href="/">Широко-универсальные фрезерные станки </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Заточные и шлифовальные </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Настольные</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Пилы </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Ленточнопильные станки </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Оснастка </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Крепёжная оснастка </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Сварочное оборудование </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Аргоно-Дуговая TIG-сварка </a></li>
                                    <li class="menu-item"><a href="/">Инверторы MMA-сварки </a></li>
                                    <li class="menu-item">
                                        <a href="/">Контактная сварка </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="/">Машины контактной точечной сварки с радиальным ходом
                                                    верхнего электрода</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="/">Плазменная резка с пневмоподжигом </a></li>
                                    <li class="menu-item"><a href="/">Плазменные резаки </a></li>
                                    <li class="menu-item"><a href="/">Полуавтоматическая MIG-MAG сварка </a></li>
                                    <li class="menu-item"><a href="/">Полуавтоматы с синергией и пульсом для Алюминия
                                        </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Профилегибы и трубогибы </a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Гидравлические профилегибы </a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="/">Оборудование для ковки </a></li>
                            <li class="menu-item"><a href="/">Деревообработка</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="/">Круглопильные станки </a></li>
                                    <li class="menu-item"><a href="/">Токарные станки по дереву </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero__content">
            <div class="swiper hero-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="hero-swiper__item" style="background-image: url(img/hero-slide/hero-slide1.jpg);">
                            <div class="hero-swiper__inner">
                                <div class="hero-swiper__title h1">
                                    <span>Заточка</span> режущего инструмента
                                </div>
                                <div class="hero-swiper__advan">
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Восстановление высоких эксплуатационных
                                            свойств</div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Полное восстановление стойкости иструмента
                                        </div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Высокое качество работы
                                            и оперативные сроки выполнения</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="hero-swiper__item" style="background-image: url(img/hero-slide/hero-slide1.jpg);">
                            <div class="hero-swiper__inner">
                                <div class="hero-swiper__title h1">
                                    <span>Заточка</span> режущего инструмента
                                </div>
                                <div class="hero-swiper__advan">
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Восстановление высоких эксплуатационных
                                            свойств</div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Полное восстановление стойкости иструмента
                                        </div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Высокое качество работы
                                            и оперативные сроки выполнения</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev hero-swiper__swiper-button-prev"></div>
                <div class="swiper-button-next hero-swiper__swiper-button-next"></div>
                <div class="swiper-pagination hero-swiper__swiper-pagination"></div>
            </div>
            <div class="hero__advan">
                <a href="#" class="hero__advan-item item1">
                    <div class="hero__advan-icon">
                        <img loading="lazy" src="img/icons-advan/icon-card.svg" class="image" width="" height="" alt="">
                    </div>
                    <div class="hero__advan-name">Оперативная<br> поставка</div>
                </a>
                <a href="#" class="hero__advan-item item2">
                    <div class="hero__advan-icon">
                        <img loading="lazy" src="img/icons-advan/icon-delivery.svg" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="hero__advan-name">Доступные<br> способы оплаты</div>
                </a>
                <a href="#" class="hero__advan-item item3">
                    <div class="hero__advan-icon">
                        <img loading="lazy" src="img/icons-advan/icon-product.svg" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="hero__advan-name">Свыше<br>
                        1 500+ товаров</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section products">
    <div class="container">
        <div class="products__top">
            <h2 class="products__title h2">Новинки</h2>
            <a href="#" class="button-link products__link">Посмотреть все</a>
        </div>
        <div class="swiper swiper-style products-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Точильно- шлифовальный станок ТШ 1.10
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product2.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Пробивные клещи для профнастила 120х10х1,5
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">15 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product3.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Фильтр 4421/21C Castel
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">38 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Однофазный релейный
                                стабилизатор ЭНЕРГИЯ APC...
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">6 100 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">20 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item1">Новинка</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next products-swiper__swiper-button-next"></div>
        </div>
    </div>
</section>

<section class="section products">
    <div class="container">
        <div class="products__top">
            <h2 class="products__title h2">Распродажа</h2>
            <a href="#" class="button-link products__link">Посмотреть все</a>
        </div>
        <div class="swiper swiper-style products-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Точильно- шлифовальный станок ТШ 1.10
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product2.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Пробивные клещи для профнастила 120х10х1,5
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">15 000 ₽</div>
                                <div class="products-swiper__item-price-old">16 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product3.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Фильтр 4421/21C Castel
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">38 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Однофазный релейный
                                стабилизатор ЭНЕРГИЯ APC...
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">6 100 ₽</div>
                                <div class="products-swiper__item-price-old">7 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">20 ₽</div>
                                <div class="products-swiper__item-price-old">26 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next products-swiper__swiper-button-next"></div>
        </div>
    </div>
</section>

<section class="contact-form">
    <div class="container contact-form__container">
        <div class="contact-form__image">
            <img loading="lazy" src="img/image/backgr-man.png" class="image" width="" height="" alt="">
        </div>
        <div class="contact-form__content-wrapper">
            <div class="contact-form__content-empty"></div>
            <div class="contact-form__content">
                <h2 class="contact-form__title form__title h2">Остались вопросы?</h2>
                <div class="contact-form__subtitle form__subtitle">Оставьте заявку, и мы вам перезвоним.</div>
                <form action="#" class="form">
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ваше имя">
                    </label>
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="+7 (000)-000-00-00">
                    </label>
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите email">
                    </label>
                    <button class="btn-reset form__btn">Отправить</button>
                </form>
                <div class="form__descr contact-form__descr">
                    Нажимая на кнопку “Отправить”, я принимаю <a href="#">политику конфиденциальности</a> и соглашаюсь с
                    обработкой
                    персональных данных
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-about">
    <div class="container">
        <div class="section-about__content">
            <div class="section-about__content-inner">
                <h2 class="section-about__content-title h2">О магазине</h2>
                <div class="section-about__content-text content">
                    <p>Добро пожаловать в мир технологий и инноваций с компанией "Альтаир" – вашим надежным партнером в
                        области станочного оборудования. С более чем двадцатилетним опытом в индустрии, мы являемся
                        лидерами в предоставлении передовых решений для различных отраслей.</p>
                </div>
                <a href="#" class="section-about__content-link button-link">Узнать подробнее</a>
            </div>
            <div class="section-about__content-right">
                <div class="section-about__content-label">
                    <img loading="lazy" src="img/logo/logo.png" class="image" width="" height="" alt="">
                </div>
                <div class="section-about__content-image">
                    <img loading="lazy" src="img/office/office.jpg" class="image" width="" height="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section article">
    <div class="container">
        <div class="article__top">
            <h2 class="article__title h2">Статьи</h2>
            <a href="#" class="button-link article__link">Смотреть все статьи</a>
        </div>
        <div class="swiper swiper-style article-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article1.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article2.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article3.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Открытие нового магазина компании Альтаир в
                                Московской области </div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev article-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next article-swiper__swiper-button-next"></div>
        </div>
    </div>
</section>