<section class="hero">
    <div class="container hero__container">
        <div class="hero__sidebar">
            111111111111
        </div>
        <div class="hero__content">
            <div class="swiper hero-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hero-swiper__item" style="background-image: url(img/hero-slide/hero-slide1.jpg);">
                            <div class="hero-swiper__inner">
                                <div class="hero-swiper__title h1">
                                    <span>Заточка</span> режущего инструмента
                                </div>
                                <div class="hero-swiper__advan">
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Восстановление высоких эксплуатационных
                                            свойств</div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Полное восстановление стойкости иструмента
                                        </div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Высокое качество работы
                                            и оперативные сроки выполнения</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hero-swiper__item" style="background-image: url(img/hero-slide/hero-slide1.jpg);">
                            <div class="hero-swiper__inner">
                                <div class="hero-swiper__title h1">
                                    <span>Заточка</span> режущего инструмента
                                </div>
                                <div class="hero-swiper__advan">
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Восстановление высоких эксплуатационных
                                            свойств</div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Полное восстановление стойкости иструмента
                                        </div>
                                    </div>
                                    <div class="hero-swiper__advan-item">
                                        <div class="hero-swiper__advan-icon">
                                            <img src="img/icons/icon-checkmark.svg" alt="">
                                        </div>
                                        <div class="hero-swiper__advan-name">Высокое качество работы
                                            и оперативные сроки выполнения</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>