@include('modals.html')


<footer class="footer">
  <div class="container footer__container">
    <div class="footer__column">
      <a href="#" class="footer__logo">
        <img loading="lazy" src="img/logo/footer-logo.png" class="image" width="" height="" alt="">
      </a>
      <div class="footer__contacts">
        <div class="footer__tels">
          <a href="tel:8 (925) 000-58-58" class="footer__tel">8 (925) 000-58-58</a>
          <button class=" btn-reset footer__button">Обратный звонок</button>
        </div>
        <div class="footer__rasp">Пн-Пт 9:00-17:00</div>
        <a href="mailto:info@pg-altair.ru" class="footer__mail">info@pg-altair.ru</a>
      </div>
      <div class="footer__copy">©Altair. При использовании материалов с сайта обязательно указание прямой ссылки на
        источник.</div>
    </div>
    <div class="footer__column">
      <div class="footer__name">Наш каталог:</div>
      <nav class="nav" title="">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Датчики точки росы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Фильтры и фильтроэлементы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Электроника и Эллектроснабжение</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Заточка инструмента</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Станки и оборудование</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Ручной инструмент</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Теги</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__column footer__column-last">
      <nav class="nav" title="">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Датчики точки росы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Фильтры и фильтроэлементы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Электроника и Эллектроснабжение</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Заточка инструмента</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Станки и оборудование</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Ручной инструмент</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Теги</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>