<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo logo">
      <img loading="lazy" src="img/logo/logo.png" class="image" width="" height="" alt="">
    </a>
    <div class="header__content">
      <nav class="nav header__nav" title="" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">О магазине</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Как купить</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка и гарантия</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__right">
        <a href="tel:8 (925) 000-58-58" class="header__tel tel">8 (925) 000-58-58</a>
        <button class="header__button btn-reset" data-graph-path="price">Обратный звонок</button>
      </div>
    </div>
    <button class="btn-reset burger header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>