<section class="section catalog">
    <div class="container catalog__container">
        <div class="catalog__sidebar">
            1111
        </div>
        <div class="catalog__content">
            @include('../../templates/breadcrumbs.html')
            <h1 class="catalog__title h1">Каталог</h1>
            <div class="catalog__category">
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product6.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Датчики точки росы</div>
                </a>
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product7.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Фильтры и фильтроэлементы</div>
                </a>
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product8.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Электроника и Эллектроснабжение</div>
                </a>
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product9.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Заточка инструмента</div>
                </a>
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product10.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Станки и оборудование</div>
                </a>
                <a href="#" class="catalog__category-item">
                    <div class="catalog__category-image">
                        <img loading="lazy" src="img/products/product11.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog__category-name">Ручной инструмент</div>
                </a>
            </div>
            <div class="catalog__items">
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-swiper__item">
                    <div class="products-swiper__item-label item2">Распродажа</div>
                    <div class="products-swiper__item-image">
                        <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="products-swiper__item-content">
                        <a href="#" class="products-swiper__item-name">
                            Точильно- шлифовальный станок ТШ 1.10
                        </a>
                        <div class="products-swiper__item-price">
                            <div class="products-swiper__item-price-new">59 000 ₽</div>
                            <div class="products-swiper__item-price-old">60 000 ₽</div>
                        </div>
                        <div class="products-swiper__item-check">В наличии</div>
                        <div class="products-swiper__item-button">
                            <div class="products-swiper__item-button-inner">
                                <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                    alt="">
                                <span>Купить</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination catalog__pagination">
                    <div class="pagination__arrow pagination__arrow-prev"></div>
                    <div class="pagination__item">1</div>
                    <div class="pagination__item active">2</div>
                    <div class="pagination__item">3</div>
                    <div class="pagination__item">4</div>
                    <div class="pagination__item">5</div>
                    <div class="pagination__arrow pagination__arrow-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section catalog-info">
    <div class="container">
        <h2 class="catalog-info__title h2">Полезная информация</h2>
        <div class="catalog-info__text content js-catalog-preview-text">
            <p>Добро пожаловать в раздел "Полезная информация" нашего интернет-магазина станочного оборудования! Здесь
                мы
                собрали для вас ценные материалы и советы, чтобы помочь вам принимать информированные решения при выборе
                и
                использовании станков.</p>
            <strong>Статьи и руководства</strong>
            <p>Углубитесь в мир станочного оборудования с нашими статьями и руководствами. Мы расскажем вам о последних
                технологических тенденциях, поделимся экспертными мнениями и поможем разобраться с особенностями
                различных типов станков.</p>
            <strong>Советы по эксплуатации</strong>
            <p>Мы предоставляем практические советы по уходу и обслуживанию станочного оборудования. Это поможет вам
                продлить срок службы вашего оборудования и поддерживать его в отличной работоспособности.</p>
            <p>Мы предоставляем практические советы по уходу и обслуживанию станочного оборудования. Это поможет вам
                продлить срок службы вашего оборудования и поддерживать его в отличной работоспособности.</p>
        </div>
        <button class="btn-reset catalog-info__button js-catalog-preview-button">Показать еще</button>
    </div>
</section>

<section class="section article">
    <div class="container">
        <div class="article__top">
            <h2 class="article__title h2">Последние статьи</h2>
            <a href="#" class="button-link article__link">Смотреть все статьи</a>
        </div>
        <div class="swiper swiper-style article-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article1.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article2.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article3.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Открытие нового магазина компании Альтаир в
                                Московской области </div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="article-swiper__item">
                        <div class="article-swiper__item-image">
                            <img loading="lazy" src="img/article/article4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="article-swiper__item-content">
                            <div class="article-swiper__item-date">26/01/24</div>
                            <div class="article-swiper__item-name">Новое предложение! Бюджетный электромагнитный
                                замок Smartec ST-EL140L для эксплуатации в помещениях</div>
                            <div class="button-link article-swiper__item-link">Читать статью</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev article-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next article-swiper__swiper-button-next"></div>
        </div>
    </div>
</section>