.catalog {
    &__container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 30px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__category {
        margin-bottom: 40px;
        @include gridColumn(2);
        gap: 30px;

        &-item {
            border: 1px solid $border-grey;
            background-color: $white;
            @include imageCoverWidth;
            height: 172px;
            padding: 16px;
            @include flexCStart;
            column-gap: 40px;
        }

        &-image {
            width: 140px;
            height: 140px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: $dark;
        }
    }

    &__items {
        @include gridColumn(3);
        gap: 30px;
    }

    &__pagination {
        grid-column: 1/4;
        margin-top: 10px;
    }

    .contact-form {
        margin-top: 40px;
        margin-bottom: 80px;

        &__content {
            padding: 48px 56px;
        }

        .form {
            column-gap: 8px;
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .catalog {
        &__container {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }

        &__sidebar {
            width: fit-content;
        }

        &__category {
            gap: 20px;

            &-item {
                column-gap: 20px;
            }

            &-image {
                width: 120px;
                height: 120px;
            }
        }

        &__items {
            @include gridColumn(2);
            gap: 20px;
        }

        &__pagination {
            grid-column: 1/3;
        }
    }
}

@media screen and (max-width: $mob) {
    .catalog {
        &__category {
            @include gridColumn(1);

            &-item {
                flex-direction: column;
                row-gap: 20px;
                height: auto;
            }

            &-image {
                width: 120px;
                height: 120px;
            }

            &-name {
                text-align: center;
            }
        }

        &__items {
            @include gridColumn(1);
        }

        &__pagination {
            grid-column: 1/2;
        }
    }
}

.catalog-info {
    &__title {
        margin-bottom: 24px;
    }

    &__text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;

        &.show {
            -webkit-line-clamp: inherit;
        }
    }

    &__button {
        font-size: 16px;
        line-height: 125%;
        text-decoration: underline;
        color: $grey;
        margin-top: 24px;
        position: relative;
        padding-right: 28px;

        &.hide {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            @include bg-cover;
            background-image: url(../img/icons-arrow/arrow-text-down.svg);
        }
    }
}

@media screen and (max-width: $mob) {
    .catalog {
        .contact-form {
            margin-bottom: 40px;

            &__content {
                padding: 20px;
            }
        }
    }
}