<section class="section product-single">
    <div class="container">
        @include('../../templates/breadcrumbs.html')
        <a href="#" class="button-empty product-single__link-main">Вернуться в каталог</a>
        <div class="product-single__container">
            <div class="product-single__preview">
                <div class="product-single-thumb-swiper-wrapper">
                    <div class="swiper-button-prev product-single-thumb-swiper__swiper-button-prev"></div>
                    <div thumbsSlider="" class="swiper product-single-thumb-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-single-thumb-swiper__item">
                                    <img src="img/products/product1.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next product-single-thumb-swiper__swiper-button-next"></div>
                </div>

                <div class="swiper product-single-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-single-swiper__item">
                                <img src="img/products/product1.png" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="product-single__info">
                <h1 class="product-single__info-title h3">Точильно-шлифовальный станок ТШ 1.10</h1>
                <ul class="product-single__info-descr-items">
                    <li class="product-single__info-descr-item">
                        <div class="product-single__info-descr-name">Бренд:</div>
                        <div class="product-single__info-descr-text">Название бренда</div>
                    </li>
                    <li class="product-single__info-descr-item">
                        <div class="product-single__info-descr-name">Производитель:</div>
                        <div class="product-single__info-descr-text">Россия</div>
                    </li>
                    <li class="product-single__info-descr-item">
                        <div class="product-single__info-descr-name">Тип:</div>
                        <div class="product-single__info-descr-text">Заточные и шлифовальные</div>
                    </li>
                </ul>
                <div class="product-single__info-text content">
                    <p>Станок точильно-шлифовальный ТШ-1.10 производится на заводе в России, хорошо зарекомендовал себя
                        на предприятиях как производственных так и во вспомогательных цехах, предназначен для выполнения
                        высококачественной шлифовки и полировки изделий и других слесарных работ. Станок исполнен в
                        настольном варианте, оборудован местной подсветкой, имеет компактные размеры, что значительно
                        расширяет возможности его использования</p>
                </div>
                <div class="product-single__info-check">
                    <div class="product-single__info-check-name">Наличие:</div>
                    <div class="product-single__info-check-text">Уточнить у менеджера</div>
                </div>
                <div class="product-single__info-result">
                    <div class="product-single__info-calc">
                        <button
                            class="btn-reset product-single__info-calc-button product-single__info-calc-decrease js-info-calc-decrease"></button>
                        <div class="product-single__info-calc-result js-info-calc-result">1</div>
                        <button
                            class="btn-reset product-single__info-calc-button product-single__info-calc-increase active js-info-calc-increase"></button>
                    </div>
                    <div class="product-single__info-price">
                        <div class="js-info-calc-price">59000</div><span>₽</span>
                    </div>
                </div>
                <div class="product-single__info-button"></div>
                <div class="icon-button product-single__info-button" data-graph-path="price">
                    <div class="icon-button__inner">
                        <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height="" alt="">
                        <span>Заказать</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-specific">
    <div class="container section-specific__container">
        <div class="section-specific__content">
            <h2 class="section-specific__title h3">Технические характеристики:</h2>
            <div class="section-specific__text content">
                <p>Настольные точильно-шлифовальные станки моделей ТШ 1, ТШ 1.10, ТШ 1.20, ТШ 1.25, ТШ 1.35.</p>
                <br>
                <p>Предназначен для выполнения:</p>
                <ul>
                    <li>Слесарных работ таких как: снятие заусенцев, снятие фасок, обдирка и другие операции.</li>
                    <li>Заточки различных видов станочного инструмента таких как: резцы, сверла, фрезы и другой
                        различный инструмент.</li>
                    <li>Заточки слесарного инструмента.</li>
                </ul>
            </div>
        </div>
        <div class="contact-form">
            <div class="contact-form__content">
                <h2 class="contact-form__title form__title h2">Остались вопросы?</h2>
                <div class="contact-form__subtitle form__subtitle">Оставьте заявку, и мы вам перезвоним.</div>
                <form action="#" class="form">
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ваше имя">
                    </label>
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="+7 (000)-000-00-00">
                    </label>
                    <label class="form__label">
                        <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите email">
                    </label>
                    <button class="btn-reset form__btn">Отправить</button>
                </form>
                <div class="form__descr contact-form__descr">
                    Нажимая на кнопку “Отправить”, я принимаю <a href="#">политику конфиденциальности</a> и
                    соглашаюсь с
                    обработкой
                    персональных данных
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section products">
    <div class="container">
        <div class="products__top">
            <h2 class="products__title h2">Рекомендуем посмотреть</h2>
            <a href="#" class="button-link products__link">Посмотреть все</a>
        </div>
        <div class="swiper swiper-style products-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product1.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Точильно- шлифовальный станок ТШ 1.10
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product2.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Пробивные клещи для профнастила 120х10х1,5
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">15 000 ₽</div>
                                <div class="products-swiper__item-price-old">16 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product3.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Фильтр 4421/21C Castel
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">38 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product4.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Однофазный релейный
                                стабилизатор ЭНЕРГИЯ APC...
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">6 100 ₽</div>
                                <div class="products-swiper__item-price-old">7 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">20 ₽</div>
                                <div class="products-swiper__item-price-old">26 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="products-swiper__item">
                        <div class="products-swiper__item-label item2">Распродажа</div>
                        <div class="products-swiper__item-image">
                            <img loading="lazy" src="img/products/product5.png" class="image" width="" height="" alt="">
                        </div>
                        <div class="products-swiper__item-content">
                            <a href="#" class="products-swiper__item-name">
                                Заточка дисковых твердосплавных пил
                            </a>
                            <div class="products-swiper__item-price">
                                <div class="products-swiper__item-price-new">59 000 ₽</div>
                                <div class="products-swiper__item-price-old">60 000 ₽</div>
                            </div>
                            <div class="products-swiper__item-check">В наличии</div>
                            <div class="products-swiper__item-button">
                                <div class="products-swiper__item-button-inner">
                                    <img loading="lazy" src="img/icons/icon-shop.svg" class="image" width="" height=""
                                        alt="">
                                    <span>Купить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev products-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next products-swiper__swiper-button-next"></div>
        </div>
    </div>
</section>