.nav {
    width: -webkit-fill-available;

    &__list {
        @include flexCCenter;
        justify-content: space-between;
        column-gap: 30px;
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 112%;
        color: $dark;
        @include transition(color);

        &:hover {
            color: $green;
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {}